@import '../../common/scss/vars';

.search {
  display: flex;
  align-items: center;
  justify-content: center;

  .form__control {
    border-radius: 6px;
    width: 100%;
  }
  .input {
    width: 100%;
    padding: 5px 12px;
    font-size: 14px;
    line-height: 20px;
    color: $github-black;
    vertical-align: middle;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right 8px center;
    border: 1px solid #e1e4e8;
    border-radius: 6px;
    outline: none;
    box-shadow: inset 0 1px 0 rgba(225, 228, 232, 0.2);
  }

  &__form {
    width: 60%;
    border-radius: 6px;
  }

  .btn {
    color: $github-black;
    border-color: rgba(27, 31, 35, 0.15);
    box-shadow: 0 1px 0 rgba(27, 31, 35, 0.04),
      inset 0 1px 0 hsla(0, 0%, 100%, 0.25);
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    position: relative;
    display: inline-block;
    padding: 5px 16px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    cursor: pointer;
    border: 1px solid;
    border-radius: 6px;

    &:hover {
      text-decoration: none;
      background-color: #f3f4f6;
      transition-duration: 0.1s;
    }
  }
}
