@import '../../common/scss/vars';

.repository {
  width: 778px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-bottom: 1px solid #e1e4e8;

  &__reponame {
    color: $github-blue;
    text-decoration: none;
    font-size: 20px;
    line-height: 1.5;
    font-weight: 600 !important;
    margin: 0;
    padding: 0;
  }

  .reponame {
    &__reference {
      &:hover {
        text-decoration: none;
      }
    }
  }

  &__description {
    font-size: 14px !important;
    color: #586069 !important;
    margin: 0;
    padding: 0 20px 0 0;
  }

  .info {
    &__text {
      font-size: 12px !important;
      color: #586069 !important;
      margin: 0;
      padding: 0;
    }    

    &__color {
      top: 1px;
      display: inline-block;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      margin: 0 5px 0 0;
      padding: 0;
    }
  }
}
